# Gradle build system
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
__pycache__

# IDEs
.idea/
*.iml

# OS-specific
.DS_Store

.venv/
*.sqlite3
.coverage
*.db
*.log